/******************** basic ********************/

@import url('https://pro.fontawesome.com/releases/v5.15.2/css/all.css');
@import url('https://cdn.jsdelivr.net/npm/tippy.js@6.2.6/animations/shift-toward-subtle.min.css');
@import url('https://cdn.jsdelivr.net/npm/disfont@0.0.1/master.min.css');
@import url('https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css');
@import url('https://fonts.googleapis.com/css?family=Muli');

:root {
  --font: 'Muli';

  --blurple: #7289DA;
  --blurple-secondary: #7289DA; 
  --blurple-tertiary: #7289DA; 

  --white: #FFFFFF;
  --black: #000000;

  --header: #FFFFFF;
  --text: #DCDDDE;
  --text-dark: #B9BBBE;
  --text-darker: #72767D;
  --text-darkest: #4F5660;
  --text-link: #00B0F4;

  --background-primary: #2C2F33;
  --background-secondary: rgb(41, 43, 48);
  --background-secondary-alt: #292B2F;
  --background-tertiary: #202225; 
  --background-tertiary-alt: #18191C;

  --interactive-hover: #34373C;
  --interactive-active: #393C43;

  --green: #43B581;
  --green-secondary: #68C39A;
  --green-tertiary: #30835D;

  --red: #F04747;
  --orange: #FAA61A;

  --grey: #747F8D;
  --grey-secondary: #8F98A3;
  --grey-tertiary: #4B525B;

  --shadow-bottom: rgba(0, 0, 0, 0.16) 0px 4px 4px;
}

.tippy-box[data-theme~=dark] {
  background: var(--background-tertiary-alt);
  color: var(--header);
  font-size: 16px;
  font-weight: 500;
  padding: 8px;
  border-radius: 5px;
  box-shadow: var(--shadow-bottom);
  text-align: left;
}

.tippy-box[data-theme~=dark]>.tippy-arrow {
  width: 10px;
  height: 10px;
}

.tippy-box[data-theme~=dark][data-placement^=top]>.tippy-arrow:before {
  border-width: 7px 7px 0;
  border-top-color: var(--background-tertiary-alt);
}

.tippy-box[data-theme~=dark][data-placement^=bottom]>.tippy-arrow:before {
  border-width: 0 7px 7px;
  border-bottom-color: var(--background-tertiary-alt);
}

.tippy-box[data-theme~=dark][data-placement^=left]>.tippy-arrow:before {
  border-width: 7px 0 7px 7px;
  border-left-color: var(--background-tertiary-alt);
}

.tippy-box[data-theme~=dark][data-placement^=right]>.tippy-arrow:before {
  border-width: 7px 7px 7px 0;
  border-right-color: var(--background-tertiary-alt);
}

.tippy-box[data-theme~=dark]>.tippy-backdrop {
  background: var(--background-tertiary-alt);
}

.tippy-box[data-theme~=dark]>.tippy-svg-arrow {
  fill: var(--background-tertiary-alt);
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  user-select: none;
}

* {
  outline: 0;
  border: none;
  font-family: var(--font);
  margin: 0;
  padding: 0;
  line-height: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  list-style: none;
}

svg {
  display: block;
  max-width: 100%;
}

b, strong {
  font-weight: 500;
}

/******************** notice ********************/

.cookieNotice-xrj9n7 {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.row-9g7fdy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--background-tertiary);
  padding: 30px;
}

.column-g4pz85 {
  display: flex;
  align-items: center;
  justify-content: left;
}

.column-g4pz85 img {
  width: 48px;
  margin-right: 20px;
  pointer-events: none;
}

.column-g4pz85 p {
  font-size: 18px;
  font-weight: 500;
  color: var(--text);
}

.times-c1m9tu {
  font-size: 24px;
  color: var(--text-darker);
  transition: .3s;
  cursor: pointer;
}

.times-c1m9tu:hover {
  color: var(--text-darker);
}

/******************** header ********************/

.mobileWrapper-ynkqsv {
  display: none;
}

.desktopWrapper-a43ttn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
}

.row-vuzyg4 {
  display: flex;
  align-items: center;
  justify-content: left;
}

.logo-3hcazj {
  width: 48px;
  margin-right: 20px;
  cursor: pointer;
}

.links-bklq8f {
  display: flex;
  align-items: center;
  justify-content: left;
}

.link-tdhsra {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-dark);
  padding: 15px 20px;
  vertical-align: middle;
  -webkit-transform: perspective(10px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  border-radius: 10px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  margin-right: 5px;
  cursor: pointer;
}

.link-tdhsra:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--background-secondary);
  -webkit-transform: scale(.4);
  transform: scale(.4);
  opacity: 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border-radius: 25px;
}

.link-tdhsra:hover, .link-tdhsra:focus, .link-tdhsra:active {
  color: var(--header);
}

.link-tdhsra:hover:before, .link-tdhsra:focus:before, .link-tdhsra:active:before {
  -webkit-transform: scale(1);
  opacity: 1;
  transform: scale(1);
}

.btn-1kvoxv {
  background: rgba(0,0,0,0);
  font-size: 16px;
  color: var(--white);
  border: solid 2px var(--blurple);
  padding: 16px 32px;
  border-radius: 28px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: var(--shadow-bottom);
  transition: .3s;
}

.btn-1kvoxv:hover {
  background: var(--blurple);
}

.btn-1kvoxv:active {
  background: var(--blurple-secondary);
  border-color: var(--blurple-secondary);
}

.mobilePopup-bgaqvw {
  display: none;
}

@media only screen and (max-width: 600px) {
  .desktopWrapper-a43ttn {
    display: none;
  }

  .mobileWrapper-ynkqsv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
  }

  .showPopup-e9fypy {
    font-size: 20px;
    color: var(--text-darker);
    cursor: pointer;
    transition: .3s;
  }

  .showPopup-e9fypy:hover {
    color: var(--text-dark);
  }

  .mobilePopup-bgaqvw {
    display: none;
    z-index: 3;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    position: fixed;
    bottom: 0;
    left: 0;
  }

  .mobileNav-i34u31 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    height: 60%;
    width: 70%;
    top: 20%;
    left: 15%;
    bottom: 10%;
    right: 10%;
    border-radius: 8px;
    background: var(--background-secondary);
  }

  .mobileNav-i34u31 li {
    width: 50%;
  }

  .mobileNav-i34u31 li a {
    color: var(--text-dark);
    font-weight: 500;
    font-size: 20px;
  }

  .times-gbkon9 {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 24px;
    color: var(--text-darker);
    cursor: pointer;
    transition: .3s;
  }

  .times-gbkon9:hover {
    color: var(--text-dark);
  }
}

/******************** hero ********************/

.header-9g2b8n {
  background: var(--background-tertiary);
}

.hero-8v5rq6 {
  background: var(--background-tertiary);
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.announcement-h05uma {
  width: auto;
  font-weight: 500;
  font-size: 16px;
  padding: 20px 40px;
  border-radius: 32px;
  background: rgba(119,107,255,.1);
  border: solid 2px var(--blurple);
  color: var(--blurple);
}

.announcement-h05uma a {
  color: var(--blurple);
}

.announcement-h05uma a:hover {
  text-decoration: underline;
}

.row-kq8lau {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 140px 0;
}

.column-vldyy2 {
  text-align: left;
  margin-right: 120px;
}

.column-vldyy2 h1 {
  font-size: 56px;
  font-weight: 600;
  color: var(--header);
}

.column-vldyy2 p {
  font-size: 26px;
  color: var(--text);
  width: 400px;
  font-weight: 500;
  margin: 20px 0 30px 0;
}

.btn-vgqgvp {
  background: rgba(0,0,0,0);
  font-size: 20px;
  color: var(--white);
  padding: 22px 64px;
  border: solid 2px var(--blurple);
  border-radius: 48px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: var(--shadow-bottom);
  transition: .3s;
}

.btn-vgqgvp:hover {
  background: var(--blurple);
}

.btn-vgqgvp:active {
  background: var(--blurple-secondary);
  border-color: var(--blurple-secondary);
}

.row-kq8lau img {
  width: 256px;
  pointer-events: none;
}

/* divider */
.wave-pd59dw {
  background: var(--background-tertiary);
}

.wave-pd59dw path {
  fill: var(--background-secondary-alt);
}

@media only screen and (max-width: 600px) {
  .announcement-h05uma {
    width: calc(80% - 80px);
    padding: 20px 40px;
    border-radius: 100px;
  }

  .row-kq8lau {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    margin: 0;
    margin: 60px 0;
  }

  .column-vldyy2 {
    margin: 0;
    text-align: center;
  }

  .column-vldyy2 h1 {
    font-size: 48px;
  }

  .row-kq8lau img {
    width: 150px;
    margin-bottom: 30px;
  }
}

/******************** commands ********************/

.commands-6ny4zm {
  background: var(--background-secondary-alt);
  padding: 60px 0 120px 0;
}

.commands-6ny4zm h2 {
  font-size: 56px;
  font-weight: 600;
  color: var(--header);
  margin-bottom: 60px;
}

.row-b0b156 {
  display: flex;
  align-items: top;
  justify-content: center;
}

.item-cxxsw2 {
  width: 300px;
  margin: 20px;
  border-radius: 16px;
  transition: .3s;
}

.container-fzk1me {
  background: var(--background-tertiary);
  border-radius: 16px;
  padding: 30px 60px;
  box-shadow: var(--shadow-bottom);
  transition: .3s;
}

.container-fzk1me * {
  color: var(--text);
  transition: .3s;
}

.container-fzk1me:hover * {
  color: var(--header);
}

.container-fzk1me:hover {
  cursor: pointer;
  background: var(--background-tertiary-alt);
  color: var(--header);
}

@media only screen and (max-width: 600px) {
  .commands-6ny4zm h2 {
    font-size: 48px;
  }

  .row-b0b156 {
    display: flex;
    align-items: center;
    justify-content: top;
    flex-direction: column;
  }
}

/* accordion */

.accordion-dy5byx {
  background: rgba(0,0,0,0);
  cursor: pointer;
  padding: 20px;
  width: 100%;
  height: 200px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  font-size: 18px;
  margin-top: 10px;
  transition: .2s;
}

.accordion-dy5byx > i {
  font-size: 64px;
  margin-bottom: 30px;
}

.accordion-dy5byx h3 {
  font-size: 24px;
  font-weight: 500;
}

.accordion-dy5byx:after {
  font-family: "Font Awesome 5 Pro";
  content: '\f107';
  color: var(--text-darker);
  float: right;
  margin-left: 5px;
  transition: .3s;
  font-weight: 400;
}

.active-x08em9:after {
  transform: rotate(180deg);
}

.panel-btcxs5 {
  width: 100%;
  max-width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height .2s ease-out;
}

.panel-btcxs5 p {
  padding: 20px 0;
  font-size: 20px;
  color: var(--text-dark);
  text-align: left;
  font-weight: 500;
  line-height: 1.2;
}

.panel-btcxs5 i {
  font-size: 20px;
  color: var(--text-dark);
}

.panel-btcxs5 a {
  font-size: 18.5px;
  color: var(--text-link);
  font-weight: 500;
}

.panel-btcxs5 a:hover {
  text-decoration: underline;
}

.panel-btcxs5 hr {
  border-top: solid 2px var(--text-darkest);
  width: 60px;
  margin: 10px 60px;
}

/******************** footer ********************/

.footer-jvybcf {
  background: var(--background-tertiary);
}

.row-1biwce {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
}

.row-1biwce p {
  font-size: 16px;
  color: var(--text-dark);
  font-weight: 500;
}

.row-1biwce a {
  font-size: 16px;
  color: var(--text-dark);
  font-weight: 500;
  transition: .3s;
}

.row-1biwce a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .row-1biwce {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .row-1biwce p {
    margin: 5px 0;
  }
}

/******************** start now ********************/

.start-6oijij {
  background: var(--background-secondary);
  padding: 160px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.column-8japa1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.column-8japa1 h2 {
  font-size: 48px;
  font-weight: 600;
  color: var(--white);
  margin-bottom: 30px;
}

.btn-u3i37p {
  background: rgba(0,0,0,0);
  font-size: 20px;
  color: var(--white);
  padding: 22px 64px;
  border: solid 2px var(--blurple);
  border-radius: 48px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: var(--shadow-bottom);
  transition: .3s;
}

.btn-u3i37p:hover {
  background: var(--blurple);
}

.btn-u3i37p:active {
  background: var(--blurple-secondary);
  border-color: var(--blurple-secondary);
}

@media only screen and (max-width: 600px) {
  .column-8japa1 h2 {
    font-size: 36px;
  }

  .column-8japa1 p {
    display: none;
  }

  .start-6oijij {
    padding: 0;
    padding: 60px;
  }
}

/******************** contact us ********************/

.header-ytoubx {
  background: var(--background-tertiary);
}

.footer-a1i8in {
  background: var(--background-secondary-alt);
}

.hero-eejya4 {
  background: var(--background-tertiary);
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.row-3ybcoc {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15% 0;
}

.column-691mfg {
  text-align: left;
  margin-right: 120px;
  max-width: 500px;
}

.column-691mfg h1 {
  font-size: 48px;
  font-weight: 600;
  color: var(--header);
}

.column-691mfg p {
  font-size: 22px;
  color: var(--text);
  width: 450px;
  font-weight: 500;
  margin: 20px 0 30px 0;
}

.btn-ofozzp {
  background: rgba(0,0,0,0);
  font-size: 20px;
  color: var(--white);
  border: solid 2px var(--blurple);
  padding: 22px 32px;
  border-radius: 40px;
  font-weight: 500;
  margin-bottom: 30px;
  cursor: pointer;
  box-shadow: var(--shadow-bottom);
  transition: .3s;
}

.btn-ofozzp:hover {
  background: var(--blurple);
}

.btn-ofozzp:active {
  background: var(--blurple-secondary);
  border-color: var(--blurple-secondary);
}

.column-691mfg small {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-darker);
  text-align: left;
}

.row-3ybcoc i {
  color: var(--blurple);
  font-size: 200px;
}

@media only screen and (max-width: 600px) {
  .row-3ybcoc {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    margin: 50% 0;
  }

  .row-3ybcoc i {
    display: none;
  }

  .column-691mfg h2 {
    font-size: 48px;
  }

  .column-691mfg {
    margin: 0;
    text-align: center;
  }

  .column-691mfg {
    max-width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .column-691mfg p {
    width: auto;
    max-width: 70%;
  }

  .column-691mfg small {
    width: auto;
    max-width: 70%;
    text-align: center;
  }
}

/******************** dashboard ********************/

.container-dzrjwb {
  display: flex;
  background: var(--background-tertiary);
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* navigation */

.navigation-t115wi {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0 20px;
  width: calc(100% - 40px);
  box-shadow: var(--shadow-bottom);
  background: var(--background-secondary-alt);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.brand-a4aygo {
  display: flex;
  align-items: center;
  justify-content: left;
  cursor: pointer;
}

.brand-a4aygo img {
  width: 48px;
  pointer-events: none;
  margin-right: 20px;
}

.brand-a4aygo h1 {
  font-size: 26px;
  font-weight: 600;
  color: var(--header);
  transition: .3s;
}

.row-zm70xm {
  display: flex;
  align-items: center;
  justify-content: right;
}

.row-zm70xm i {
  font-size: 24px;
}

.row-zm70xm span {
  font-size: 24px;
  color: var(--text-darkest);
  margin: 0 20px;
}

.column-a15s37 {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  color: var(--text-darker);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  cursor: pointer;
}

.column-a15s37 img {
  width: 48px;
  border-radius: 50%;
}

.column-a15s37:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--interactive-active);
  -webkit-transform: scale(.4);
  transform: scale(.4);
  opacity: 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border-radius: 50%;
}

.column-a15s37:hover, .column-a15s37:focus, .column-a15s37:active {
  color: var(--header);
}

.column-a15s37:hover:before, .column-a15s37:focus:before, .column-a15s37:active:before {
  -webkit-transform: scale(1);
  opacity: 1;
  transform: scale(1);
}

.column-a15s37 #iconHover {
  display: none;
}

.column-a15s37:hover #iconDefault {
  display: none;
}

.column-a15s37:hover #iconHover {
  display: block;
}

.active-945jto {
  color: var(--header);
}

/* user menu */

#userDropdown {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 200px;
}

.link-0oliyv {
  width: calc(200px - 50px);
  margin-bottom: 2px;
  padding: 12px 25px;
  display: flex;
  align-items: center;
  justify-content: left;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  color: var(--text-dark);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  cursor: pointer;
}

.link-0oliyv:nth-last-child(1) {
  margin-bottom: 0;
}

.link-0oliyv:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--blurple);
  -webkit-transform: scale(.4);
  transform: scale(.4);
  opacity: 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border-radius: 5px;
}

.link-0oliyv:hover, .link-0oliyv:focus, .link-0oliyv:active {
  color: var(--white);
}

.link-0oliyv:hover:before, .link-0oliyv:focus:before, .column-a15s37:active:before {
  -webkit-transform: scale(1);
  opacity: 1;
  transform: scale(1);
}

.link-0oliyv i {
  font-size: 20px;
  margin-right: 10px;
}

/* wrapper */

.wrapper-s3en1r {
  height: 100%;
  width: calc(100% - 100px);
  position: absolute;
  top: 0;
  right: 0;
}

/* main */

.scroller-ffigeh::-webkit-scrollbar {
  height: 16px;
  width: 16px;
}

.scroller-ffigeh::-webkit-scrollbar-corner {
  background-color: transparent;
}

.scroller-ffigeh::-webkit-scrollbar-thumb {
  background-color: var(--background-secondary);
  border: 4px solid transparent;
  border-radius: 8px;
  min-height: 40px;
  background-clip: padding-box;
}

.scroller-ffigeh::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0);
  border: 4px solid transparent;
  border-radius: 8px;
  margin-bottom: 8px;
  background-clip: padding-box;
}

.container-ahg65x {
  display: flex;
  align-items: center;
  justify-content: top;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: calc(100% - 420px);
  max-height: calc(100% - 340px);
  overflow-y: scroll;
  padding: 160px 0;
}

.column-2nuro0 h1 {
  font-size: 48px;
  font-weight: 600;
  color: var(--header);
}

.wrapper-xrjttc {
  margin-top: 120px;
  max-width: 1400px;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: row;
  flex-wrap: wrap;
}

/* support button */

.support-op076t {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: var(--blurple);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 32px;
  right: 32px;
  box-shadow: var(--shadow-bottom);
  z-index: 50;
  cursor: pointer;
  transition: .3s;
}

.support-op076t:hover {
  background: var(--blurple-secondary);
}

.support-op076t:active {
  background: var(--blurple-tertiary);
}

.support-op076t img {
  width: 32px;
  pointer-events: none;
}

/* guilds */

.guild-uvwtqz {
  width: calc(300px - 40px);
  height: calc(250px - 40px);
  padding: 20px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  margin: 15px;
  transition: .3s;
}

.guild-uvwtqz:hover {
  background: var(--background-secondary-alt);
}

.guild-uvwtqz img {
  width: 100px;
  border-radius: 8px;
  margin-bottom: 25px;
  pointer-events: none;
}

.guild-uvwtqz p {
  font-size: 26px;
  font-weight: 500;
  color: var(--header);
}

/* Settings */

.notAdded-dwfcsi {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background-tertiary-alt);
  width: 400px;
  height: 60px;
  border-radius: 8px;
}

.notAdded-dwfcsi a {
  color: var(--text-dark);
  font-size: 16px;
  font-weight: 500;
}

.notAdded-dwfcsi a:hover {
  text-decoration: underline;
}

.row-0460n3 {
  display: flex;
  align-items: center;
  justify-content: right;
  position: absolute;
  top: 32px;
  right: 32px;
}

.btn-fky3f1 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 32px;
  left: 32px;
  height: 52px;
  width: 52px;
  border-radius: 50%;
  font-size: 18px;
  color: var(--text);
  background: rgba(0,0,0,0);
  transition: .3s;
  cursor: pointer;
}

.btn-fky3f1:hover {
  background: var(--background-secondary-alt);
}

.btn-1niyc7 {
  height: 52px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  color: var(--text);
  background: rgba(0,0,0,0);
  padding: 0 20px;
  transition: .3s;
  cursor: pointer;
}

.btn-1niyc7 i {
  margin-right: 10px;
}

.btn-1niyc7:hover {
  background: var(--background-secondary-alt);
}

.column-pqc4kf h1 {
  font-size: 36px;
  font-weight: 600;
  color: var(--header);
}

.column-ye13gh {
  text-align: left;
  width: 800px;
  margin-bottom: 60px;
  position: relative;
}

.column-ye13gh:nth-last-child(1) {
  margin-bottom: 0;
}

.column-ye13gh p {
  font-size: 16px;
  color: var(--header);
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.column-ye13gh form {
  display: flex;
  align-items: center;
  justify-content: left;
}

input[TYPE=TEXT] {
  height: 52px;
  padding: 0 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 28px;
  background: var(--background-secondary-alt);
  font-size: 18px;
  color: var(--text-dark);
  line-height: 1.2;
  font-weight: 500;
}

textarea {
  resize: none;
  height: calc(150px - 64px);
  width: calc(500px - 64px);
  padding: 32px;
  border-radius: 28px;
  background: var(--background-secondary-alt);
  font-size: 18px;
  color: var(--text-dark);
  line-height: 1.2;
  font-weight: 500;
}

.input-4ahvqr, .input-tftqsr {
  width: 100px;
}

.input-lwn740 {
  width: 200px;
}

input[TYPE=SUBMIT] {
  height: 52px;
  padding: 0 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 28px;
  background: var(--blurple);
  font-size: 18px;
  color: var(--white);
  font-weight: 500;
  cursor: pointer;
  margin-left: 10px;
  transition: .3s;
}

input[TYPE=SUBMIT]:hover {
  background: var(--blurple-secondary);
}

input[TYPE=SUBMIT]:active {
  background: var(--blurple-tertiary);
}

.column-ye13gh .form-dwjy9c {
  display: block !important;
}

.column-ye13gh .form-dwjy9c input[TYPE=SUBMIT] {
  margin-top: 10px;
}

.textarea-j31jp1 {
  display: block !important;
}

textarea::-webkit-scrollbar {
  height: 16px;
  width: 16px;
}

textarea::-webkit-scrollbar-corner {
  background-color: transparent;
}

textarea::-webkit-scrollbar-thumb {
  background-color: var(--background-primary);
  border: 4px solid transparent;
  border-radius: 8px;
  min-height: 40px;
  background-clip: padding-box;
}

textarea::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0);
  border: 4px solid transparent;
  border-radius: 8px;
  margin-bottom: 8px;
  background-clip: padding-box;
}

.column-zi0prv {
  text-align: left;
  width: 800px;
  margin-bottom: 60px;
}

.column-zi0prv p {
  font-size: 16px;
  color: var(--header);
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.disabled-m6z7l7 {
  color: var(--red);
  font-weight: 600;
}

.enabled-ri9n3o {
  color: var(--green);
  font-weight: 600;
}

.btn-fquwvf {
  height: 52px;
  border-radius: 28px;
  padding: 0 32px;
  background: var(--blurple);
  font-size: 18px;
  font-weight: 500;
  color: var(--white);
  cursor: pointer;
  transition: .3s;
}

.btn-fquwvf:hover {
  background: var(--blurple-secondary);
}

.btn-fquwvf:active {
  background: var(--blurple-tertiary);
}

/* custom bad words */

.spoiler-bre3kf {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background-tertiary-alt);
  font-size: 16px;
  font-weight: 500;
  width: 400px;
  height: 60px;
  padding: 10px;
  color: var(--text-dark);
  border-radius: 8px;
}

.wrapper-cpwc3b {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.column-2vz3cu {
  padding: 15px 25px;
  border-radius: 28px;
  margin: 5px;
  background: var(--background-secondary-alt);
  font-size: 14px;
  font-weight: 500;
  color: var(--text);
  transition: .3s;
}

.column-2vz3cu:hover {
  background: var(--background-secondary);
}

.column-2vz3cu i {
  font-size: 12px;
  color: var(--red);
  margin-left: 10px;
}

/* infractions */

.wrapper-hn2tr2 {
  margin-top: 120px;
  width: 1000px;
}

.infraction-cd8x1s {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--background-secondary-alt);
  border-radius: 28px;
  width: calc(100% - 40px);
  margin-bottom: 15px;
}

.infraction-cd8x1s:nth-last-child(1) {
  margin-bottom: 0;
}

.rowLeft-syra70 {
  display: flex;
  align-items: center;
  justify-content: left;
}

.rowLeft-syra70 img {
  width: 64px;
  border-radius: 50%;
  pointer-events: none;
  margin-right: 15px;
}

.rowLeft-syra70 h2 {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-dark);
}

.rowLeft-syra70 h2 > b {
  font-size: 20px;
  font-weight: 500;
  color: var(--header);
}

.rowRight-6z7ovg {
  display: flex;
  align-items: center;
  justify-content: right;
}

.information-6hgebk i {
  font-size: 20px;
  color: var(--text);
  cursor: pointer;
  margin-left: 5px;
}

.rowRight-6z7ovg > span {
  font-size: 24px;
  color: var(--text-darkest);
  margin: 0 20px;
}

.rowRight-6z7ovg > i {
  font-size: 24px;
  color: var(--red);
  cursor: pointer;
}

/* transfer ownership */

.notice-vjyz4e {
  width: calc(600px - 40px);
  padding: 20px;
  background: var(--red);
  font-size: 16px;
  font-weight: 500;
  color: var(--white);
  border-radius: 28px;
  position: absolute;
  top: 32px;
  box-shadow: var(--shadow-bottom);
}

.notice-vjyz4e i {
  margin-right: 10px;
}

.column-1di85n {
  margin-top: 60px;
}

.column-1di85n p {
  font-size: 16px;
  color: var(--header);
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
}

.column-1di85n form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.column-1di85n span {
  font-size: 14px;
  font-weight: 500;
  color: var(--red);
}

/* help */

.notice-nqtkgl {
  width: calc(600px - 40px);
  padding: 20px;
  background: var(--green);
  font-size: 16px;
  font-weight: 500;
  color: var(--white);
  border-radius: 28px;
  position: absolute;
  top: 32px;
  box-shadow: var(--shadow-bottom);
}

.notice-nqtkgl i {
  margin-right: 10px;
}

.column-ix6274 {
  margin-top: 60px;
  text-align: left;
}

.column-ix6274 p {
  font-size: 16px;
  color: var(--header);
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 10px;
}

.column-ix6274 p:nth-child(1) {
  margin-top: 0;
}

.column-ix6274 form {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  margin: 10px 0;
}

.column-ix6274 textarea {
  width: 300px !important;
}

.column-ix6274 span {
  font-size: 14px;
  font-weight: 500;
  color: var(--red);
}

.input-tb7qpb {
  width: 300px;
}

.column-ix6274 input[TYPE=SUBMIT] {
  width: 350px;
  padding: 0;
  margin-top: 30px;
}

.placeholder-qyn0zm {
  width: 300px;
  height: 52px;
  height: 52px;
  padding: 0 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 28px;
  background: var(--background-secondary-alt);
  font-size: 18px;
  color: var(--text-dark);
  line-height: 1.2;
  font-weight: 500;
  cursor: not-allowed;
  opacity: .8;
}

/* account */

.wrapper-40j482 {
  margin-top: 120px;
  max-width: 1400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.column-o8n24w {
  margin-bottom: 120px;
}

.column-o8n24w i {
  font-size: 128px;
  margin-bottom: 30px;
  color: var(--blurple);
}

.column-o8n24w h1 {
  font-size: 32px;
  font-weight: 600;
  color: var(--header);
}

.row-p7hg7j {
  width: 600px;
  padding: 30px;
  border-radius: 64px;
  background: var(--background-secondary-alt);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.row-p7hg7j:nth-last-child(1) {
  margin-bottom: 0;
}

.column-xl99n2 {
  display: flex;
  align-items: center;
  justify-content: left;
}

.column-xl99n2 i {
  font-size: 32px;
  color: var(--header);
  margin-right: 15px;
}

.column-xl99n2 p {
  font-size: 20px;
  color: var(--text-dark);
  font-weight: 500;
}

.column-xl99n2 p > b {
  color: var(--header);
  font-weight: 500;
}

.options-ui7rh9 {
  display: flex;
  align-items: center;
  justify-content: right;
}

.options-ui7rh9 i {
  font-size: 24px;
  color: var(--text);
  transition: .3s;
  cursor: pointer;
}

.options-ui7rh9 > .hover-0oz4mq:hover i, .options-ui7rh9 > .hover-0oz4mq:active i {
  color: var(--header);
}

/* apply */

.notice-om2ym7 {
  width: calc(600px - 40px);
  padding: 20px;
  background: var(--blurple);
  font-size: 16px;
  font-weight: 500;
  color: var(--white);
  border-radius: 28px;
  position: absolute;
  top: 32px;
  box-shadow: var(--shadow-bottom);
}

.notice-om2ym7 i {
  margin-right: 10px;
}

/* select */

.s-hidden {
  visibility:hidden;
  padding-right: 10px;
}

.select {
  cursor:pointer;
  position:relative;
  font-size: 18px;
  font-weight: 500;
  color:var(--text-dark);
  padding: 16px 32px;
  width: 300px;
}

.form-37ia44 .select {
  width: 100px !important;
}

.form-37ia44 .select .options {
  max-height: 200px;
  overflow-y: scroll;
}

.form-37ia44 .select .options::-webkit-scrollbar {
  height: 16px;
  width: 16px;
}

.form-37ia44 .select .options::-webkit-scrollbar-corner {
  background-color: transparent;
}

.form-37ia44 .select .options::-webkit-scrollbar-thumb {
  background-color: var(--background-secondary);
  border: 4px solid transparent;
  border-radius: 8px;
  min-height: 40px;
  background-clip: padding-box;
}

.form-37ia44 .select .options::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0);
  border: 4px solid transparent;
  border-radius: 8px;
  margin-bottom: 8px;
  background-clip: padding-box;
}

.form-37ia44 .select .options {
  border-radius: 8px;
}

.form-37ia44 .select .options li {
  margin:0 0;
  padding: 12px 32px;
  font-size: 16px;
  text-align: left;
  font-weight: 500;
  border-radius: 28px;
}

.styledSelect {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  padding: 18px 32px;
  left:0;
  background:var(--background-secondary-alt);
  transition: .3s;
  border-radius: 28px;
}

.styledSelect:hover {
  background: var(--background-secondary);
}

.styledSelect:after {
  font-family: "Font Awesome 5 Pro";
  content:"\f107";
  font-size: 14px;
  width:0;
  height:0;
  padding:9px 0;
  color: var(--text-darker);
  margin-left: 10px;
}

.options {
  display:none;
  position:absolute;
  top:100%;
  right:0;
  left:0;
  z-index:999;
  margin:0 0;
  padding:0 0;
  list-style:none;
  background-color:var(--background-tertiary-alt);
  -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  padding: 8px;
  border-radius: 28px;
}

.options li {
  margin:0 0;
  padding: 16px 32px;
  font-size: 16px;
  color: var(--text-dark);
  text-align: left;
  font-weight: 500;
  border-radius: 28px;
}

.options li:hover {
  background: var(--blurple);
  color: var(--header);
}

.hover-0oz4mq {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  cursor: pointer;
}

.hover-0oz4mq:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--interactive-hover);
  -webkit-transform: scale(.4);
  transform: scale(.4);
  opacity: 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border-radius: 50%;
}

.hover-0oz4mq:active:before {
  background: var(--interactive-active);
}

.hover-0oz4mq:hover:before, .hover-0oz4mq:focus:before, .hover-0oz4mq:active:before {
  -webkit-transform: scale(1);
  opacity: 1;
  transform: scale(1);
}

/* error */

.notice-jtjey5 {
  width: calc(600px - 40px);
  padding: 20px;
  background: var(--red);
  font-size: 16px;
  font-weight: 500;
  color: var(--white);
  border-radius: 28px;
  position: absolute;
  top: 32px;
  box-shadow: var(--shadow-bottom);
}

.notice-jtjey5 i {
  margin-right: 10px;
}

.column-void0w {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.column-void0w i {
  font-size: 128px;
  color: var(--header);
  margin-bottom: 30px;
}

.column-void0w h1 {
  font-size: 48px;
  font-weight: 600;
  color: var(--header);
}

.column-void0w p {
  font-size: 22px;
  font-weight: 500;
  color: var(--text-dark);
  text-align: center;
  max-width: 350px;
  margin-top: 20px;
}

.column-void0w a {
  color: var(--header);
}

.column-void0w a:hover {
  text-decoration: underline;
}

.row-5rmb46 {
  display: flex;
  align-items: center;
  justify-content: left;
}

.row-5rmb46 a {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  color: var(--red);
  margin-left: 15px;
  display: none;
  cursor: pointer;
}

.row-5rmb46 a:hover {
  text-decoration: underline;
}

.column-ye13gh:hover .row-5rmb46 a {
  display: block;
}

.column-ye13gh p > i {
  font-size: 14px;
  margin-left: 5px;
}

.row-5rmb46 img {
  width: 26px;
  margin-left: 10px;
  margin-bottom: 10px;
  pointer-events: none;
}

/* coupons */

.notice-rp27g0 {
  min-width: calc(600px - 120px);
  padding: 20px 60px;
  background: var(--orange);
  font-size: 16px;
  font-weight: 500;
  color: var(--white);
  border-radius: 28px;
  position: absolute;
  top: 32px;
  box-shadow: var(--shadow-bottom);
}

.notice-rp27g0 i {
  margin-right: 10px;
}

.wrapper-dl67mw {
  margin-top: 60px;
}

.row-9rxoh2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column-yc2hrg {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: .3s;
  cursor: pointer;
  background: var(--background-secondary-alt);
  margin: 0 10px;
}

.column-yc2hrg i {
  font-size: 48px;
  color: var(--blurple);
  margin-bottom: 20px;
}

.column-yc2hrg h2 {
  font-size: 24px;
  font-weight: 500;
  color: var(--header);
}

.column-yc2hrg p {
  font-size: 18px;
  font-weight: 500;
  color: var(--header);
  margin-top: 5px;
}

.column-yc2hrg:hover {
  background: var(--background-secondary);
}

/* statistics */

.wrapper-4f7s4i {
  margin-top: 60px;
}

.row-hsesjb {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column-y049rb {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--background-secondary-alt);
  margin: 0 10px;
}

.column-y049rb i {
  font-size: 48px;
  color: var(--blurple);
  margin-bottom: 20px;
}

.column-y049rb h2 {
  font-size: 24px;
  font-weight: 600;
  color: var(--header);
}

.column-y049rb p {
  font-size: 18px;
  font-weight: 500;
  color: var(--header);
  margin-top: 5px;
}

/******************** not found ********************/

.wrapper-7jhxqo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: var(--background-tertiary);
}

.wrapper-7jhxqo i {
  font-size: 64px;
  color: var(--blurple);
  cursor: pointer;
  transition: .3s;
  margin-bottom: 30px;
}

.wrapper-7jhxqo i:hover {
  color: var(--blurple-secondary);
}

.wrapper-7jhxqo h1 {
  font-size: 48px;
  font-weight: 600;
  color: var(--header);
}

.wrapper-7jhxqo p {
  font-size: 20px;
  font-weight: 500;
  color: var(--text-dark);
  margin-top: 10px;
}

.wrapper-v32m00 {
  margin-top: 60px;
  max-width: 1400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
