// blurple button
.btn-ylki76 {
	padding: 12px 20px;
	border-radius: 4px;
	background: $black;
	color: $white;
	font-size: 16px;
	opacity: .99;
	transition: .3s;
	cursor: pointer;
	border: solid 2px $black;

	&:hover {
		background: transparent;
		color: $black;
	}
}

// grey button
.btn-wjr99i {
	padding: 12px 20px;
	border-radius: 4px;
	background: transparent;
	color: $black;
	font-size: 16px;
	border: solid 2px $black;
	opacity: .99;
	transition: .3s;
	cursor: pointer;

	&:hover {
		background: $black;
		color: $white;
	}
}