.section-4cxrpb {
  padding: 120px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h2 {
    font-size: 48px;
    font-weight: 500;
    color: $black;
    opacity: .99;
    margin-bottom: 80px;

    span {
      font-weight: 700;
    }
  }

  .commands-9slccp {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1500px;

    .item-cxxsw2 {
      width: 330px;
      margin: 15px;
      border-radius: 28px;
      transition: .3s;

      .container-fzk1me {
        border-radius: 28px;
        padding: 30px;
        border: solid 2px rgba(0, 0, 0, .1);
        cursor: pointer;
        transition: .3s;

        &:hover {
          background: hsl(0, 0%, 94%);
        }

        .accordion-dy5byx {
          background: rgba(0,0,0,0);
          cursor: pointer;
          padding: 15px;
          width: calc(100% - 30px);
          height: 150px;
          border-radius: 28px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          text-align: left;
          font-size: 18px;
          margin-top: 10px;
          transition: .2s;
        
          > i {
            font-size: 64px;
            margin-bottom: 30px;
            opacity: .99;
            color: $black;
          }
        
          h3 {
            font-size: 26px;
            font-weight: 600;
            opacity: .99;
            line-height: 1.4;
            color: $black;
          }
        
          span {
            font-size: 18px;
            color: $black-secondary;
            opacity: .99;
            line-height: 1.4;
          }
        
          .active-x08em9:after {
            transform: rotate(180deg);
          }
        }
        
        .panel-btcxs5 {
          width: 90%;
          max-width: 90%;
          max-height: 0;
          overflow: hidden;
          transition: max-height .2s ease-out;
        
          p {
            padding: 30px 0;
            font-size: 18px;
            color: $black-secondary;
            text-align: left;
            line-height: 1.4;
            opacity: .99;
          }
        
          i {
            font-size: 20px;
            color: $black;
          }
        
          a {
            font-size: 18.5px;
            color: $black-secondary;
            font-weight: 500;
        
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}