.header-8abamr {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .desktopWrapper-a43ttn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
    width: 1400px;

    .row-vuzyg4 {
      display: flex;
      align-items: center;
      justify-content: left;

      > img {
        width: 48px;
        margin-right: 25px;
        pointer-events: none;
        cursor: pointer;
      }

      .navigation-bklq8f {
        display: flex;
        align-items: center;
        justify-content: left;

        a {
          font-size: 16px;
          font-weight: 500;
          color: $black;
          opacity: .99;
          margin-right: 15px;
          transition: .3s;

          &:hover {
            color: $black-secondary;
            text-decoration: underline;
          }
        }
      }
    }
  }

  .mobileWrapper-ynkqsv {
    display: none;
  }

  .mobilePopup-bgaqvw {
    display: none;
  }
}

@media only screen and (max-width: 1400px) {
  .header-8abamr {
    .mobileWrapper-ynkqsv {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 40px;
      width: calc(100% - 80px);

      img {
        width: 48px;
        pointer-events: none;
      }

      .showPopup-e9fypy {
        font-size: 20px;
        color: $black;
        cursor: pointer;
        transition: .3s;

        &:hover {
          color: $black-secondary;
        }
      }
    }

    .mobilePopup-bgaqvw {
      display: none;
      justify-content: center;
      align-items: center;
      z-index: 3;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, .6);
      position: fixed;
      bottom: 0;
      left: 0;
    }

    .navigation-i34u31 {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 60%;
      width: 70%;
      max-width: 350px;
      top: 20%;
      left: 15%;
      border-radius: 28px;
      background: $white;

      .closePopup-gbkon9 {
        position: absolute;
        top: 30px;
        right: 30px;
        font-size: 24px;
        color: $black;
        cursor: pointer;
        transition: .3s;
        padding: 10px;
        background: $white;
        border-radius: 50%;

        &:hover {
          color: $black-secondary;
        }
      }

      a {
        color: $black;
        font-size: 20px;
        opacity: .99;
        line-height: 1.5;
        transition: .3s;

        &:hover {
          color: $black-secondary;
        }
      }
    }

    .desktopWrapper-a43ttn {
      display: none;
    }
  }
}