.hero-odpc9i {
  background: $off-white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 120px 0;

  .text-xje3dk {
    text-align: left;
    margin-right: 160px;

    h1 {
      font-weight: 800;
      font-size: 56px;
      color: $black;
    }

    p {
      font-size: 18px;
      color: $black-secondary;
      margin: 20px 0;
      width: 650px;
      line-height: 1.4;
    }

    .row-xut8jd {
      display: flex;
      align-items: center;
      justify-content: left;

      button {
        &:nth-child(1) {
          margin-right: 15px;
        }
      }
    }
  }

  img {
    width: 256px;
    pointer-events: none;
    opacity: .99;
  }
}

/*
.wave-pd59dw {
  background: $surface;

  path {
    fill: $surface-secondary;
  }
}
*/

@media only screen and (max-width: 1200px) {
  .hero-odpc9i {
    flex-direction: column-reverse;
    padding: 60px 0;

    img {
      width: 200px;
      margin-bottom: 30px;
    }

    .text-xje3dk {
      text-align: center;
      margin-right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      h1 {
        font-size: 40px;
        width: 80%;
        line-height: 1.4;
      }
      
      p {
        width: 90%;
        font-size: 18px;
      }
    }
  }

  .wave-pd59dw {
    display: none;
  }
}