/**************** IMPORTS ****************/

@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap';
@import 'https://fonts.googleapis.com/css?family=Material+Icons+Outlined|Material+Icons+Round';
@import 'https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/brands.min.css';

/**************** THEME ****************/

$font: 'Poppins', sans-serif;

$white: hsl(0, 0%, 100%);
$off-white: hsl(0, 0%, 96%);
$black: rgba(0, 0, 0, .9);
$black-secondary: rgba(0, 0, 0, .7);
$link: hsl(197, 97%, 47%);

/**************** OVERWRITE DEFAULTS ****************/

::selection {
	background: $link;
	color: $white;
}

body, html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	scroll-behavior: smooth;
	user-select: none;
  font-family: $font;
	background: $off-white;
  font-size: 16px;
}

* {
	outline: 0;
	border: none;
  line-height: 100%;
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: transparent;
	-webkit-font-smoothing: antialiased;
	text-decoration: none;
	list-style: none;
  font-family: inherit;
	font-weight: 400;
}

svg {
	display: block;
	max-width: 100%;
}

[hidden] {
	display: none !important;
	margin: 0;
}

/**************** PARTIALS ****************/

@import 'partials/commands';
//@import 'partials/contact';
@import 'partials/footer';
@import 'partials/header';
@import 'partials/hero';
@import 'partials/buttons';

